{% extends 'base.html' %}
<!-- haciendo el titulo dinamico -->
{% block title %} ModaEE.com - Tienda Online {% endblock %}
<!--  -->
{% block content %}
<!-- aqui va el contenido  -->
<div id="carouselExampleIndicators" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        {% for categoria in categorias %}
        {% if categoria.id == 1 %}
        <picture class="carousel-item active mb-5">
            <a href="{% url 'productos' categoria.id %}">
                <img style="width: 100%;" src="{{ categoria.imagen }}" alt="">
            </a>
        </picture>
        {% else %}
        <picture class="carousel-item mb-5">
            <a href="{% url 'productos' categoria.id %}">
                <img style="width: 100%;" src="{{ categoria.imagen }}" alt="">
            </a>
        </picture>
        {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" style="width: 3rem;" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" style="width: 3rem;" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="text-center div-logos">
    <p class="fs-3">Tenemos las Mejores Marcas</p>
    <div class="d-flex justify-content-center">
        {% for marca in marcas %}
        {% if forloop.counter <= 3 %} <a href="{% url 'marca' marca.id %}"><img class="logos" src="{{ marca.imagen }}"
                alt=""></a>
            {% else %}
            {% endif %}
            {% endfor %}
    </div>
</div>
{% for marca in marcas %}
{% if marca.id == 1 %}
<a href="{% url 'marca' marca.id %}" class="d-flex justify-content-center"><img
        src="https://res.cloudinary.com/duwrrvmki/image/upload/v1697339974/fondo_adidas_rjpqou.png" alt=""
        class="ofertas"></a>
{% else %}
{% endif %}
{% endfor %}
<div class="row row-cols-1 row-cols-md-4 m-3 g-4 mb-5 justify-content-center">
    {% for producto in productos %}
    {% for marca in producto.marca.all %}
    {% if marca.nombre == 'Adidas' %} <!-- O el nombre de la marca que desees filtrar -->
    <a href="{% url 'detalle_producto' producto.id %}" class="text-decoration-none">
        <div class="col">
            <div class="card" style="background-color: rgb(41, 68, 97);">
                <img src="{{producto.imagen}}" class="card-img-top" alt="..."
                    style="width: 75%;margin: auto;margin-top: 15px;">
                <div class="card-body">
                    <div class="text-center border border-white w-100" style="height: 90px;">
                        <h6 class="card-title text-white h-50">{{producto.nombre}}</h6>
                        <p class="text-warning fw-semibold">$ {{ producto.precio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% for marca in marcas %}
{% if marca.id == 2 %}
<a href="{% url 'marca' marca.id %}" class="d-flex justify-content-center"><img
        src="https://res.cloudinary.com/duwrrvmki/image/upload/v1697339974/fondo_levis_ayzjb8.png" alt=""
        class="ofertas"></a>
{% else %}
{% endif %}
{% endfor %}
<div class="row row-cols-1 row-cols-md-4 m-3 g-4 mb-5 justify-content-center">
    {% for producto in productos %}
    {% for marca in producto.marca.all %}
    {% if marca.nombre == 'Levis' %} <!-- O el nombre de la marca que desees filtrar -->
    <a href="{% url 'detalle_producto' producto.id %}" class="text-decoration-none">
        <div class="col">
            <div class="card" style="background-color: rgb(9, 106, 175);">
                <img src="{{producto.imagen}}" class="card-img-top" alt="..."
                    style="width: 75%;margin: auto;margin-top: 15px;">
                <div class="card-body">
                    <div class="text-center border border-white w-100" style="height: 80px;">
                        <h6 class="card-title text-white h-50">{{producto.nombre}}</h6>
                        <p class="text-warning fw-semibold">$ {{ producto.precio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}