{% extends 'base.html' %}
<!-- cargando static -->
{% load static %}
<!-- haciendo el titulo dinamico -->
{% block title %} Servicio al Cliente - Tienda Online {% endblock %}
<!--  -->
{% block content %}
<!-- aqui va el contenido  -->
<section class="p-4 mb-4">
    <h1>Políticas de Cambios y Devoluciones</h1>
    <div class="pt-3 row g-1" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    1. GARANTÍA LEGAL (LEY DEL CONSUMIDOR N°19.496)
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Es aquel mecanismo para proteger a los consumidores frente aquellos casos en que adquieran bienes
                        que no son aptos ni idóneos para el uso al que están destinados, rigiendo esto sólo para
                        productos
                        nuevos que adquieran los clientes y/o consumidores.</p>
                    <p>
                        <li><b>¿QUÉ PROTEGE?</b></li>
                    </p>
                    <p>La garantía legal, protege a los consumidores, por existir deficiencias en nuestros
                        productos por fabricación, elaboración, materiales, calidad u otros, impidiendo que estos no
                        sean
                        apto para el uso o consumo al que está destinado o al que la empresa hubiese señalado en su
                        publicidad.</p>
                    <p>
                        <li><b>¿EN QUÉ PLAZO PUEDO RECLAMAR?</b></li>
                    </p>
                    <p>Nuestro cliente tendrá el plazo de 6 meses, desde que recibe el
                        producto por parte de CO Shop. Este plazo se suspenderá, mientras se este ejerciendo garantía
                        (sea la de satisfacción o la legal)</p>
                    <p>
                        <li><b>¿CÓMO LA EJERZO EN CASO DE COMPRAS PRESENCIALES?</b></li>
                    </p>
                    <p>Para poder reclamar este derecho de Garantía
                        Legal, el cliente deberá acreditar haber efectuado la compra en alguna de nuestras tiendas
                        (exhibiendo el comprobante de pago) y la existencia de la falla del producto, la cual deberá ser
                        a
                        causa de una deficiencia propia del bien y no por responsabilidad suya. Acreditado lo anterior,
                        usted podrá escoger, previa devolución íntegra del producto, entre:</p>
                    <p>1. LA REPARACIÓN GRATUITA DEL PRODUCTO. <br>
                        2. EL CAMBIO DEL PRODUCTO POR OTRO NUEVO. <br>
                        3. LA DEVOLUCIÓN DEL DINERO PAGADO POR EL PRODUCTO RECLAMADO.</p>
                    <p>
                        <li><b>¿CÓMO LA EJERZO EN CASO DE COMPRAS ONLINE (ECOMMERCE)?</b></li>
                    </p>
                    <p>Podrás solicitar la devolución de tu
                        dinero o cambio del producto enviando un correo electrónico a ventas@ModaEEshop.cl. En caso de
                        cambio puedes entregar el producto en cualquiera de nuestras sucursales o enviarlo a nuestra
                        sucursal de Irarrazaval 2840, Ñuñoa y solicitar el reembolso a ventas@ModaEEshop.cl</p>
                    <p>
                        <li><b>¿CUÁNDO NO CUBRE?</b></li>
                    </p>
                    <p>La garantía legal, NO aplicará cuando</p>
                    <p>1. Se trate de productos usados,
                        refaccionados o de segunda selección, y ello haya sido debidamente informado y publicitado; <br>
                        2. Por razones de gusto, error de talla o disconformidad en el color del producto seleccionado
                        por el
                        cliente, salvo en caso de garantía de satisfacción; <br>
                        3. Cuando la causa de la falla o deficiencia
                        del producto sea responsabilidad del cliente; y, <br>
                        4. Cuando la falla o deficiencia alegada se haya
                        producido por el uso o desgaste normal del producto.</p>
                    <p>
                        <li><b>¿QUÉ PASA SI ME FALLA POR SEGUNDA VEZ UN MISMO PRODUCTO?</b></li>
                    </p>
                    <p>En los casos en que el consumidor escoja
                        la opción de reparación del producto ante una falla o desperfecto, y éste vuelve a fallar,
                        tendrá el
                        derecho de nuevamente escoger entre la devolución del dinero, cambio de producto o reparación de
                        este, exhibiendo comprobante de pago y falla alegada.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    2. DERECHO A RETRACTO
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Si compraste un producto, por cualquier medio de comunicación a distancia (ejemplo vía web en
                        www.ModaEE.com y/o fono de compras) o en caso de no haber tenido acceso directo al producto,
                        podrás ejercer tu derecho a retracto, pudiendo poner término, sin necesidad de expresar motivo o
                        causa, de manera unilateral a la compra realizada dentro de los 10 días corridos desde la
                        entrega del producto; salvo que el producto se haya deteriorado por un hecho imputable a nuestro
                        cliente.</p>
                    <p>
                        <li><b>¿QUÉ REQUISITOS?</b></li>
                    </p>
                    <p>Para poder aplicar este derecho, el producto debe ser devuelto íntegramente y
                        sin uso, estar en óptimas condiciones, sellado si correspondiere y sin uso alguno, con su
                        embalaje
                        original, etiquetas y con los accesorios y regalos promocionales que estuvieron asociados a la
                        compra respectiva si correspondiese.</p>
                    <p>
                        <li><b>CONDICIONES ESPECIALES</b></li>
                    </p>
                    <p>En el caso de productos como, ropa interior, trajes de baño, productos de
                        belleza, celulares, cámaras fotográficas y/o productos electrónicos, estos deben venir cerrados,
                        conservando su sellado y embalaje original; en caso contrario no se aceptará el derecho a
                        retracto.</p>
                    <p>
                        <li><b>¿CÓMO EJERZO EL DERECHO A RETRACTO?</b></li>
                    </p>
                    <p>En caso de compras por medios de comunicación a distancia
                        deberás enviar un correo electrónico a ventas@ModaEEshop.cl señalando cuál es tu pedido, tus datos
                        bancarios y que se ejerce derecho a retracto. En caso de cambio puedes devolver las prensas en
                        cualquiera de nuestras tiendas o enviar el producto a nuestras bodegas ubicadas en Aníbal Pinto
                        491, Bulnes. La devolución del dinero de tu compra se realizará en aproximadamente 15 días
                        hábiles desde que ModaEEshop recibió el producto variando según método de pago.</p>
                    <p>En caso de compras presenciales, por no haber tenido acceso directo al producto, el cliente
                        deberá acreditar haber efectuado la compra en alguna de nuestras tiendas (exhibiendo el
                        comprobante de
                        pago), encontrarse dentro del plazo legal y que el producto se encuentre en condiciones de ser
                        devuelto.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    3. GARANTÍA DE SATISFACCIÓN CO SHOP
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Ahora bien, independiente de lo anterior, CO SHOP te entrega una GARANTÍA DE SATISFACCIÓN, por
                        medio de la cual podrás realizar el CAMBIO de tus productos comprados en cualquiera de nuestros
                        canales, dentro del plazo de 10 DÍAS CORRIDOS desde que se realiza la entrega del producto,
                        debiendo
                        para ello exhibir la boleta, ticket de cambio o cualquier medio idóneo que verifique el pago del
                        producto, sin necesidad de expresar motivo o causa para ello.</p>
                    <p>
                        <li><b>¿QUÉ REQUISITOS?</b></li>
                    </p>
                    <p>Para poder aplicar este beneficio, el producto debe ser devuelto íntegramente,
                        debiendo estar en óptimas condiciones, sellado si correspondiere y sin uso alguno, con su
                        embalaje
                        original y con los accesorios y regalos promocionales que estuvieron asociados a la compra
                        respectiva si correspondiese.</p>
                    <p>
                        <li><b>CONDICIONES ESPECIALES</b></li>
                    </p>
                    <p>En el caso de productos como, ropa interior, productos de belleza,
                        celulares, cámaras fotográficas y/o productos electrónicos, estos deben venir cerrados,
                        conservando
                        su sellado y embalaje original; en caso contrario, la garantía de satisfacción no procederá.</p>
                    <p>En el caso de compras por medios de comunicación a distancia deberás enviar un correo electrónico
                        a ventas@ModaEEshop.cl señalando cual es tu pedido, tus datos bancarios y el motivo de devolución. Las
                        devoluciones serán gestionadas en un plazo de 5 días hábiles una vez recibido el pedido y el
                        pago se verá reflejado en aproximadamente 15 días hábiles variando según método de pago.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item mt-2">
            <p>Finalmente agradecemos tu confianza y preferencia, situación que nos motiva para día a día mejorar para
                brindarle un mejor servicio en nuestra atención y productos.</p>
        </div>
    </div>
</section>

{% endblock %}