{% extends 'base.html' %}
<!-- haciendo el titulo dinamico -->
{% block title %} POLERA MANGA CORTA ADIDAS BRANDLOVE {% endblock %}
<!--  -->
{% block content %}
<!-- aqui va el contenido  -->
<div class="row row-cols-1 row-cols-md-2 w-100 justify-content-center w-100 m-auto mb-5 ">
  <div class="row row-cols-1 mb-3 ">
    <img src="{{ producto.imagen }}" alt="">
  </div>
  <div class="row row-cols-1" style="height: fit-content;">
    <p class="mt-3 ">{% for marca in producto.marca.all %} {{ marca.nombre }} {% endfor %}</p>
    <h2 class="mt-2 ">{{ producto.nombre }}</h2>
    <p class="mt-3 ">stock: {{ producto.stock }}</p>
    <h1 class="mt-3 ">Precio: ${{ producto.precio }}</h1>
    <a class="btn btn-dark w-50 mt-3" href="{% url 'agregar_al_carrito' producto.id %}">Agregar al Carrito</a>
  </div>
</div>
{% endblock %}