{% extends 'base.html' %}
<!-- cargando static -->
{% load static %}
<!-- haciendo el titulo dinamico -->
{% block title %} Servicio al Cliente - Tienda Online {% endblock %}
<!--  -->
{% block content %}
<!-- aqui va el contenido  -->
<section class="p-4 mb-4">
    <h1>Términos y Condiciones</h1>
    <div class="pt-3 row g-1" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    1. Uso del Sitio Web (Tienda online)
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Las presentes condiciones generales de uso del Sitio Web, regulan los términos y
                        condiciones de acceso y uso de ModaEE.com que el usuario del Portal deberá de leer y aceptar
                        para usar
                        todos los servicios e información que se facilitan desde el portal. El mero acceso y/o
                        utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena
                        aceptación de
                        las presentes condiciones generales de uso.</p>
                    <p>En este sitio Web podrá usar, sin costo, el software y las aplicaciones para equipos móviles
                        que le permitan navegar, visitar, comparar y si lo desea, adquirir los bienes o servicios
                        que se exhiben aquí.</p>
                    <p>Le recomendamos que lea detenidamente estas Condiciones e imprima o guarde una copia de
                        las mismas en la unidad de disco local para su información. Estos Términos y Condiciones
                        serán aplicados y se entenderán incorporados en cada uno de los contratos que celebre con
                        Comercializadora ModaEE Spa por medio de este sitio web.</p>
                    <p>El uso de este sitio web, la aplicación de estos Términos y Condiciones, los actos que
                        ejecute y los contratos que celebre por medio de este sitio web, se encuentran sujetos y
                        sometidos
                        a las leyes de la República de Chile y en especial a la ley 19.496 de protección de los
                        derechos de los consumidores.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    2. Comunicaciones
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Para la comunicación de cualquier presentación, consulta o reclamo a propósito del uso de
                        este sitio, o los contratos que en él se lleven a cabo, Comercializadora ModaEE Spa designa como
                        representante especial a don Jorge Moreno, Representante Legal, disponible en el correo
                        modaee_online@gmail.com ; y en el teléfono de Servicio al Cliente +56 9 07786598,
                        domiciliado para estos efectos en Aníbal Pinto 491, Bulnes.</p>
                    <p>Comercializadora ModaEE Spa se obliga a que en caso de enviarle información publicitaria o
                        promocional, por correo electrónico, ésta contendrá al menos la siguiente información:
                    </p>
                    <p>
                        <li>Identificación del mensaje, que lo haga reconocible como publicidad o comunicación
                            promocional, en el campo de asunto del mensaje.</li>
                    </p>
                    <p>b) Existencia del derecho del consumidor o usuario a solicitar el cese de envíos de
                        publicidad de ese tipo por Comercializadora ModaEE Spa y la obligación de Comercializadora CO
                        Spa suspender esos envíos. <br>
                        c) Un procedimiento simple y eficaz para que el consumidor pueda hacer esa solicitud,
                        indicando una dirección electrónica para estos efectos. <br>
                        d) La Identificación del anunciante con su denominación comercial.</p>
                    <p>Tratándose de publicidad teaser, se cumplirá con las obligaciones señaladas
                        precedentemente en la medida que se identifique la agencia que realiza la misma.</p>
                    <p>Comercializadora ModaEE Spa cesará el envío de los mensajes publicitarios o promocionales por
                        correo electrónico u otros medios de comunicación individual equivalentes, a toda
                        persona que hubiere solicitado expresamente la suspensión de esos envíos.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    3. Condiciones de Uso
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del
                        portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en
                        y/o a través del portal, bien por el portal, bien por sus usuarios, bien por terceros. No
                        obstante, el acceso y la utilización de ciertos contenidos y/o servicios pueden encontrarse
                        sometido a determinadas condiciones específicas.</p>
                    <p><b>Uso de cookies:</b></p>
                    <p>Empleamos el uso de cookies. Al utilizar el sitio web de Sioux, usted acepta el uso de
                        cookies de acuerdo con la política de privacidad de Sioux. La mayoría de los modernos sitios
                        web interactivos de hoy en día usan cookies para permitirnos recuperar los detalles del
                        usuario para cada visita.</p>
                    <p>Las cookies se utilizan en algunas áreas de nuestro sitio para habilitar la funcionalidad de
                        esta área y la facilidad de uso para las personas que lo visitan. Algunos de nuestros socios
                        afiliados/publicitarios también pueden usar cookies.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    4. Medios de Pago
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Salvo que se señale un medio diferente para casos u ofertas específicos, los productos y
                        servicios que se informan en este sitio sólo podrán ser pagados por medio de:</p>
                    <p>
                        <li>Tarjeta de crédito bancarias Visa, Mastercard, Dinners Club International o American
                            Express,
                            emitidas en Chile o en el extranjero, siempre que mantengan un contacto vigente para
                            este
                            efecto
                            con Comercializadora ModaEE Spa.</li>
                        <li>Tarjetas de débito bancarias acogidas al sistema Redcompra, emitidas en Chile por bancos
                            nacionales, que mantengan un contrato vigente para tales efectos con Comercial ModaEE Spa.
                        </li>
                        <li>Otros medios de pago electrónicos que pueda tener contratada la empresa (Khipu,
                            Servipag,
                            Paypal, otros).</li>
                    </p>
                    <p>El pago con tarjetas de débito se realizará a través de WebPay, que es un sistema de pago
                        electrónico que se encarga de hacer el cargo automático a la cuenta bancaria del usuario.
                    </p>
                    <p>Los usuarios declaran que entienden que estos medios de pago o portales de pago pertenecen a
                        terceras empresas proveedoras de estos servicios, independientes y no vinculadas a
                        Comercializadora ModaEE Spa, por lo que la continuidad de su prestación de servicios en el
                        tiempo, así como el correcto funcionamiento de sus herramientas y botones de pago en línea,
                        será
                        de exclusiva responsabilidad de las empresa proveedoras de estos servicios y en ningún caso
                        de
                        Comercializadora ModaEE Spa.</p>
                    <p>Con respecto a la devolución de dineros, estos se efectuaran durante 72 horas hábiles a
                        partir
                        de la fecha de solicitud de la anulación para los casos de compra.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    5. Despacho y/o entrega de los productos
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>La preparación de los envíos toma máximo 48 horas hábiles. Los envíos toman entre 3 a 4 días
                        hábiles en la Región Metropolitana y un día extra en otras regiones del país. Estos tiempos
                        son
                        estimados y pueden variar por contingencia o disponibilidad de las empresas de despacho.</p>
                    <p><b>¿En que días y horas puedo recibir mi envío?</b></p>
                    <p>Las empresas de transporte con las que trabajamos realizan sus envíos de Lunes a Sábado en
                        horarios entre las 9:00 - 20:00 hrs.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    6. Alcance de las condiciones informadas en el sitio
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Comercializadora ModaEE Spa, no modificará las condiciones bajo las cuales haya contratado con
                        los consumidores en este sitio. Mientras aparezcan en este sitio, los precios informados
                        estarán
                        a disposición del usuario, aunque no sean los mismos que se ofrezcan en otros canales de
                        venta
                        de Comercializadora ModaEE Spa, , como tiendas físicas, catálogos, televisión, radio, u otros.
                    </p>
                    <p>Con todo, los precios son aplicables para la ciudad de entrega o despacho. Si una vez
                        ingresado
                        un producto al carro de compras, es cambiada la dirección de entrega o despacho a una ciudad
                        diferente, cambiará el precio total del producto de acuerdo a los costos de envío a la nueva
                        ciudad registrada.</p>
                    <p>Cualquier cambio en las informaciones publicadas en este sitio, incluyendo las referidas a
                        mercaderías, servicios, precios, existencias y condiciones, promociones y ofertas, tendrá
                        lugar
                        antes de recibir una orden de compra y solo se referirá a operaciones futuras, sin afectar,
                        en
                        caso alguno, derechos adquiridos por los consumidores.</p>
                    <p>Las promociones que ofrecidas en el sitio no necesariamente serán las mismas que
                        Comercializadora ModaEE Spa ofrezca por otros canales de venta. En las promociones que consistan
                        en la entrega gratuita o rebajada de un producto por la compra de otro, el despacho del bien
                        que
                        se entregue gratuitamente o a precio rebajado se hará en el mismo lugar al cual se despacha
                        el
                        producto comprado, salvo que el adquirente solicite, al aceptar la oferta, que los productos
                        se
                        remitan a direcciones distintas, en cuyo caso deberá pagar el valor del despacho de ambos
                        productos. No se podrá participar en estas promociones sin adquirir conjuntamente todos los
                        productos comprendidos en ellas.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    7. Obligaciones del Usuario/Cliente
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>El usuario deberá respetar en todo momento los términos y condiciones establecidos en las
                        presentes condiciones generales de uso del portal. De forma expresa el usuario manifiesta
                        que
                        utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera
                        derivarse del incumplimiento de las normas.</p>
                    <p>Así mismo, el usuario no podrá utilizar el portal para transmitir, almacenar, divulgar
                        promover
                        o distribuir datos o contenidos que sean portadores de virus o cualquier otro código
                        informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el
                        funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    8. Responsabilidad del portal
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza,
                        ya
                        sea expresa o implícita, sobre los datos, contenidos, información y servicios que se
                        incorporan
                        y ofrecen desde el Portal.</p>
                    <p>Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la
                        medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna
                        respecto a los posibles daños y perjuicios causados por el uso y utilización de la
                        información,
                        datos y servicios del Portal.</p>
                    <p>En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que
                        puedan
                        deberse a la información y/o servicios prestados o suministrados por terceros diferentes de
                        la
                        Empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    9. Propiedad intelectual e industrial
                </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o
                        cualquier
                        otro elemento susceptible de protección por la legislación de propiedad intelectual o
                        industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a
                        sus
                        legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos.
                        Queda
                        expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento
                        integrante de las páginas web del Portal sin la autorización de la empresa, siempre que no
                        sean
                        a una página web del Portal que no requiera identificación o autenticación para su acceso, o
                        el
                        mismo esté restringido.</p>

                    <p>En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información
                        datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o
                        autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que
                        expresamente se detalle en las presentes condiciones generales de uso del portal.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    10. Legislación aplicable, jurisdicción competente y notificaciones
                </button>
            </h2>
            <div id="collapse10" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de la Republica
                        de Chile. Para cualquier reclamación serán competentes los juzgados y tribunales de
                        Santiago. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el
                        Usuario desee efectuar a la Empresa titular del Portal deberán realizarse por escrito y se
                        entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente
                        dirección Aníbal Pinto 491, Bulnes.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    11.- Derecho a la garantía legal durante los primeros 3 meses desde que realizó su compra:
                </button>
            </h2>
            <div id="collapse11" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>En estos casos corre la garantía legal: Cuándo su producto es defectuoso, no es apto para el
                        uso
                        que fue destinado, o que fue anteriormente reparado, pero sus deficiencias persisten o
                        presenta
                        nuevas fallas, previa evaluación por parte de nuestra empresa.</p>
                    <p>El producto no cumplirá con la garantía legal si ha sido alterado, intervenido, por usted o
                        por
                        terceros.</p>
                    <p>Puede elegir entre 3 alternativas</p>
                    <p>A) Cambio del producto.</p>
                    <p>B) Devolución de dinero.</p>
                    <p>C) Reparación gratuita.</p>
                    <p>Para el cambio del producto debe tener su boleta o comprobante de la compra.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="collapsed w-100 text-start text-light btn bg-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    12.- Cambios y devoluciones
                </button>
            </h2>
            <div id="collapse12" class="accordion-collapse collapse p-4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><b>Derecho de Retracto</b></p>

                    <p>Si compraste un producto, por cualquier medio de comunicación a distancia, (ejemplo vía web en
                        www.ModaEE.com y/o fono de compras) podrás ejercer tu derecho a retracto, pudiendo poner
                        término de manera unilateral a la compra realizada dentro de los 10 días corridos desde la
                        entrega del producto.</p>

                    <p>Para ejercer este derecho deberá utilizar los mismos medios que empleó para celebrar el contrato
                        y siempre que Comercializadora ModaEE Spa le haya enviado comunicación de haberse perfeccionado
                        el contrato, copia íntegra, acceso claro, comprensible e inequívoco de las condiciones generales
                        del mismo y la posibilidad de almacenarlos o imprimirlos.</p>

                    <p>Si Comercializadora ModaEE Spa no ha dado cumplimiento al envío de la comunicación escrita
                        anteriormente mencionada el plazo se extenderá a 90 días. No podrá ejercerse este derecho cuando
                        el bien, materia del contrato, se haya deteriorado por hecho imputable al consumidor.</p>

                    <p>Si el bien o servicio se obtuvo por medio de un crédito, éste queda sin efecto pero los
                        intereses son de cargo del consumidor cuando se haya otorgado por un tercero.</p>

                    <p>Comercializadora ModaEE Spa tendrá la obligación de devolverle las sumas abonadas, sin retención
                        de gastos, y a la mayor brevedad posible y, en cualquier caso, antes de 45 días a la
                        comunicación del retracto. Usted deberá restituir en buen estado los elementos de embalaje, los
                        manuales de uso, las cajas, elementos de protección y todo otro elemento que viniera con el
                        bien.</p>

                    <p><b>Proceso de cambio y devoluciones:</b></p>

                    <li>Puedes cambiar en nuestra amplia red de tiendas tu pedido o parte de él. Tienes la opción de
                        cambiar por un producto del mismo o mayor valor (pagando su diferencia), solo debes llevar tu
                        boleta. * El plazo es de 90 días corridos una vez recepcionado tu pedido.</li>
                    <li>También puedes hacer el cambio a través de Starken con envío a nuestras bodegas, el pedido debe
                        ser enviado a nombre de Sioux por Starken a la Dirección: Aníbal Pinto 491, Bulnes.</li>
                    <li>Si envías tus productos por cambio de tallas y/o gusto, el envío debe ser pagado por el cliente,
                        solo en caso de error de envío por parte de FAMIKYSHOP el despacho por el cliente será
                        reembolsado y enviado de forma gratuita en un plazo de 5 días hábiles una vez recepcionado.</li>
                    <li>En caso de deficiencias de fabricación, elaboración, materiales o en caso de que no sea apto
                        para el uso que se encontraba destinado, se contará con 3 meses desde la recepción del pedido
                        para solicitar cambio de producto o el íntegro reembolso de su dinero al correo
                        ventas@ModaEEshop.cl</li>
                    <li>Los productos no pueden haber sido usados y deben estar con sus etiquetas originales, en el
                        mismo estado que fue enviado. En caso de productos de ropa interior, trajes de baño y bikinis -
                        por motivos de higiene - el empaque debe venir cerrado.</li>
                    <li>Las devoluciones serán gestionadas en un plazo de 48 horas hábiles una vez recibido el pedido y
                        el pago se verá reflejado en 10 días hábiles variando según método de pago. Recuerda enviarnos
                        un correo a ventas@ModaEEshop.cl con tu pedido, con tus datos bancarios y el motivo de
                        devolución.</li>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}